img {
    height: 150px;
    border-radius: 5px;
}

.button {
    position: absolute;
    bottom: -30%;
    left: 0%;
    right: 0%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}