.chat {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.chat-body {
    margin-inline: 60px;
}

.chat-img {
    padding-block: 10px;
}

.rounded-circle {
    max-height: 50px;
}

.read-head {
    margin-inline: 5px;
    max-height: 20px;
}

.chat-single {
    padding-block: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.chat-first {
    padding-top: 10px;
}
.chat-last {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.chat-final {
    padding-block: 10px;
    border: 0px;
}